---
import Layout from '@layouts/Common.astro'

import {Icon} from 'astro-icon/components'
---

<Layout>
  <section class="content-3/5">
    <div class="wrap">
      <div class="item">
        <header>
          <p>Solution</p>
          <h2>Delivering Certainty</h2>
        </header>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae natus ex illo deserunt
          velit voluptatibus, non error, voluptates numquam ad, suscipit dolorem repellat aspernatur
          libero officia sint culpa voluptatum saepe?
        </p>
      </div>
      <div class="item">
        <img src="https://placehold.co/450x500/png" alt="" />
      </div>
    </div>
  </section>
</Layout>
