---
import Layout from '@layouts/Common.astro'

import {Icon} from 'astro-icon/components'
---

<Layout>
  <section class="md:split-4/9 gap-y-6">
    <img
      src="https://placehold.co/450x400/png"
      alt=""
      class="item aspect-2/1 w-full rounded-2xl object-cover md:aspect-auto"
    />
    <div class="item">
      <header>
        <hgroup>
          <p>Solution</p>
          <h2>Delivering Certainty</h2>
        </hgroup>
      </header>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae natus ex illo deserunt velit
        voluptatibus, non error, voluptates numquam ad, suscipit dolorem repellat aspernatur libero
        officia sint culpa voluptatum saepe?
      </p>
      <ul class="grid grid-cols-1 gap-2 md:grid-cols-2 md:grid-rows-[repeat(3,_auto)]">
        <li class="grid md:row-span-3 md:grid-rows-subgrid">
          <Icon name="mdi:asterisk" class="text-accent-lo size-8" />
          <h3 class="text-h6!">Lorem, ipsum dolor sit amet consectetur?</h3>
          <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </li>
        <li class="grid md:row-span-3 md:grid-rows-subgrid">
          <Icon name="mdi:arrow-right-circle-outline" class="text-accent-lo size-8" />
          <h3 class="text-h6!">Lorem ipsum dolor sit.</h3>
          <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </li>
      </ul>
    </div>
  </section>
</Layout>
