---
const url = Astro.url.pathname
---

{
  url === '/' ? (
    <header class="format py-copy content-center justify-items-center gap-y-4 text-center">
      <hgroup class="mx-auto mb-0 max-w-lg">
        <h1 class="text-h6! font-sans! font-normal! lowercase">Above the Fold</h1>
        <p class="text-h1! leading-none! font-bold text-balance normal-case!">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum, id!
        </p>
      </hgroup>
      <p class="text-neutral-lo max-w-2xl text-balance">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quae iusto libero,
        voluptas, enim numquam repudiandae distinctio molestias ipsa voluptatem eveniet suscipit,
        tempora reprehenderit dolores!
      </p>
      <div class="mx-auto grid grid-cols-2 gap-2 md:grid-cols-4">
        <img src="https://placehold.co/150x150/png" alt="" class="rounded-lg" />
        <img src="https://placehold.co/150x150/png" alt="" class="rounded-lg" />
        <img src="https://placehold.co/150x150/png" alt="" class="rounded-lg" />
        <img src="https://placehold.co/150x150/png" alt="" class="rounded-lg" />
      </div>
      <div class="mt-10 flex gap-3">
        <a href="http://" class="btn btn-accent">
          Contact Us
        </a>
        <a href="http://" class="btn btn-outline">
          Discover More
        </a>
      </div>
    </header>
  ) : (
    <header class="format split-3/5 py-copy">
      <div class="item grid content-center">
        <hgroup>
          <p>A title of some significance</p>
          <h1>A subheading or title of some significance</h1>
        </hgroup>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quidem eaque officiis
          asperiores ullam tempore debitis saepe, voluptate voluptatum repellendus.
        </p>
        <div class="flex gap-2">
          <a href="#" class="btn btn-accent">
            Contact Us
          </a>
          <a href="#" class="btn btn-outline">
            Discover More
          </a>
        </div>
      </div>
    </header>
  )
}

<!-- <style>
  @import '@styles/landmarks/hero.css';
</style> -->
