@reference "tailwindcss";

@utility py-content {
  @apply py-(--spacing-content-block);
}

@utility split-* {
  options: {
    types: [ratio, number];
  }

  --split-number: --value(integer);
  --split-ratio: --value(ratio);
}

@utility content {
  @apply gap-x-content grid;

  --content-split-count: var(--split-number, 1);
  --content-gap-count: calc(var(--content-split-count) - 1);
  --content-gap-size: calc(var(--content-gap-count) * var(--gap-content));

  --screen-gap-count: calc(var(--gap-init) + var(--content-gap-count));
  --screen-gap-size: calc(var(--screen-gap-count) * var(--gap-content));

  --split-even: repeat(
    var(--content-split-count),
    minmax(0, calc(var(--content-size) / var(--content-split-count)))
  );

  --split-odd: calc(var(--content-size) * var(--split-ratio))
    calc(var(--content-size) * (1 - var(--split-ratio)));

  &.breakout {
    --content-max: var(--breakout-width);
  }

  --content-size: min(
    calc(100% - var(--screen-gap-size)),
    calc(var(--content-max, var(--content-width)) - var(--content-gap-size))
  );

  grid-template-columns:
    [screen-start]
    0px
    [fullwidth-start]
    1fr
    [content-start]
    var(--split-even, var(--split-odd))
    [content-end]
    1fr
    [fullwidth-end]
    0px
    [screen-end];

  > * {
    grid-column: content;
  }

  @variant md {
    .half {
      grid-column-start: content-start;
      grid-column-end: center;

      + .half {
        grid-column-start: center;
        grid-column-end: content-end;
      }
    }
  }
}

@utility content-* {
  @apply gap-x-content grid;

  --content-size: min(
    calc(100% - calc((var(--gap-init) + 1) * var(--gap-content))),
    calc(var(--content-max, var(--content-width)) - var(--gap-content))
  );

  --content-split: --value(percentage, ratio);

  --content-1: calc(var(--content-size) * var(--content-split));
  --content-2: calc(var(--content-size) - var(--content-1));

  &.breakout {
    --content-max: var(--breakout-width);
  }

  grid-template-columns:
    [screen-start]
    0px
    [fullwidth-start]
    1fr
    [content-start]
    var(--content-1)
    [center]
    var(--content-2)
    [content-end]
    1fr
    [fullwidth-end]
    0px
    [screen-end];

  > * {
    grid-column: content;
  }
}

@utility item {
  @variant md {
    grid-column: span 1 !important;
  }

  &:nth-child(1 of .item) {
    grid-column-start: content-start !important;
  }
}

.half,
.third,
.fourth,
.sixth,
.twelfth {
  @apply item;
}
